<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        version   = "1.0.0">
	<icon src="" />
	<name>DB Test</name>
	<gap:splash src="" gap:platform="android" gap:density="hdpi"/>
	<access origin="*" />
</widget> 